body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  background-color: #141414;
}

.buttons{
  position:absolute;
  top:80%;
  left:8%;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5vh;
  width: 100vw;
  padding: 10px 4%;
  background-color: #141414; 
  position: fixed;
  font-size: 2vh;
  z-index:1;
}
.nav {
  margin-right: 45%;
}
.nav-img a img {
  width: 6vw;
  height: 4vh;
  margin-left: 1.5vw;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  white-space: nowrap;
}

.nav ul li a {
  text-decoration: none;
  margin-right: 1vw;
  color: #ffffff;
}

.nav1 a img {
  width: 1.5vw;
  height: 1.8vh;
}

.header-img img {
  width: 100%;
  height: 95vh;
}
.gallery_container h2 {
  color: #ffffff;
}

.gallery_container {
  margin-left: 5vw;
  white-space: nowrap 
}

.gallery_items a img:hover {
  transform: scale(1.5); 
  transition: 0.5s; 
}

.gallery_items a img {
  margin: 1px;
  border-radius: 3px;
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}
footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: #ffffff;
}
.footer_global {
  display: flex;
  font-size: 1.5vh;
}

.footer-links {
  padding: 2px;
  margin-left: 6vw;
}
.footer-links a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
.rede-social {
  margin-left: 6vw;
}
.rede-social a img {
  width: 1vw;
  height: 2vh;
  padding-right: 0.5vw;
}

p {
  margin-left: 6vw;
  font-size: 1.5vh;
}


/*Aqui começa o css dos botões*/

/* Botões */
.conteiner_top{
  display: flex;
  
}
.buttons {
  display: flex;
  gap: 10px;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

#watch {
  background-color: white;
  color: black;
}

#info {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

/* Gera*/

.filme {
  display: flex; 
  align-items: center; 
}

.filme img {
  width: 129px;
  border-radius: 5px;
  
}
.filme a img:hover {
  transform: scale(1.5); 
  transition: 0.5s; 
}
.numero {
  font-size: 15rem; 
  font-weight: bold; 
  color: rgba(255, 255, 255, 0.1); 
  
}


  @media screen and (max-width: 1080px){
    .header2 .header-img img{
      height: 70vh;
     }  
    .buttons{
    
      top: 60vh;
    
    }
    
    .button{
      padding: 5px 10px;
      font-size: 10px;
    }
}

@media screen and (max-width: 580px){
 .header2 .header-img img{
  height: 50vh;
 }  
.buttons{
  /* position: static; */
  top: 40vh;

}

.button{
  padding: 5px 10px;
  font-size: 10px;
}
}
