body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  background-color: #000000;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5vh;
  width: 100vw;
  padding: 10px 4%;
  background-color: #000000;
  position: fixed;
  font-size: 2vh;
}
.nav {
  margin-right: 45%;
}
.nav-img a img {
  width: 6vw;
  height: 4vh;
  margin-left: 1.5vw;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  white-space: nowrap;
}

.nav ul li a {
  text-decoration: none;
  margin-right: 1vw;
  color: #ffffff;
}

.nav1 a img {
  width: 1.5vw;
  height: 1.8vh;
}

.header-img img {
  width: 100%;
  height: 100%;
}
.gallery_container h2 {
  color: #ffffff;
}
.gallery_container {
  margin-left: 2vw;
}

.gallery_items a img {
  width: 15vw;
  height: 19vh;
  margin: 1px;
  border-radius: 3px;
}
footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: #ffffff;
}
.footer_global {
  display: flex;
  font-size: 1.5vh;
}

.footer-links {
  padding: 2px;
  margin-left: 6vw;
}
.footer-links a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
.rede-social {
  margin-left: 6vw;
}
.rede-social a img {
  width: 1vw;
  height: 2vh;
  padding-right: 0.5vw;
}

p {
  margin-left: 6vw;
  font-size: 1.5vh;
}
