body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #000000;
}

.header {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100vw;
    padding: 10px;
    background-color: #000000;
    position: fixed;
   align-items: center;
  
}
.nav{
    margin-right: 50em;
}
.nav-img a img {
    width: 6vw;
    height: 4vh;
    margin-left: 1.5vw;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav ul li{
    margin-right: 0.5vw;

}
.nav ul li a{
    text-decoration: none;
}

.nav1 a img {
  width: 1vw;
  height: 1vh;
}

.header-img img{
  width: 100%;
  height: 100%;
  
}
.gallery_container h2{
    color: #ffffff;
}
.gallery_container  {
    margin-left: 2vw; 
}

.gallery_items a img {
    width: 15vw; 
    height: 19vh;
    margin: 1px;
    border-radius: 3px;
} 

.footer_global{
    display: flex;
       
}

.footer-links a {
    display: flex;
    text-decoration: none;
}